.Arrows .Arrow {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid rgba(97, 101, 114, 0.27);
}

.Arrows .Arrow .Icon {
  color: var(--color-bg-primary);
  font-size: 20px;
}
