.Body input.Input {
  display: none;
}

.Body .Title {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #0a223a;
  cursor: pointer;
  /* margin: 20px 0; */
}

.Body .Title:hover {
  text-decoration: underline;
}

.Body .Primary.Container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px dashed rgba(11, 19, 90, 0.44);
  border-radius: 10px;
  min-height: 80px;
  padding: 10px 20px;
}

.Body .Primary.Container .Description {
  display: flex;
  flex-direction: column;
}

.Body .Primary.Container .Button {
  border: 1px solid rgba(15, 145, 210, 0.7);
  border-radius: 5px;
  color: #0f91d2;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  background-color: transparent;
  min-width: 90px;
  height: 35px;
  cursor: pointer;
  margin-left: auto;
}

.Body .Primary.Container .Button.Remove {
  color: #8b1212;
  border: 1px solid rgba(249, 61, 61, 0.35);
}

.Body .Primary.Container .Description {
  font-weight: 400;
}

.Body .Primary.Container .Description .Title {
  font-size: 13px;
  line-height: 20px;
  color: #000;
  margin-bottom: unset;
}

.Body .Primary.Container .Description .Subtitle {
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.4);
}

.Body .Secondary.Container {
  background: #f5f7fd;
  border: 1px dashed #c9ccde;
  border-radius: var(--border-radius-primary);
  padding: 20px 10px;
}

.Body .Secondary.Container .Inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Body .Secondary.Container .Inner .Icon {
  font-size: 35px;
}

.Body .Secondary.Container .Inner .Content {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.Body .Secondary.Container .Inner .Divider {
  color: var(--color-text-content);
  text-transform: uppercase;
  position: relative;
  width: min-content;
  text-align: center;
}

.Body .Secondary.Container .Inner .DividerWrapper {
  margin: 15px 0;
}

.Body .Secondary.Container .Bottom {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.Body .Secondary.Container .Bottom button {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #07387d;
  background: #cadffd;
  border: 1px solid #9abef1;
  border-radius: var(--border-radius-primary);
  padding: 8px 10px;
  cursor: pointer;
}

.Body .Secondary.Container .Inner .Divider::after,
.Body .Secondary.Container .Inner .Divider::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #787f94;
  top: 50%;
}

.Body .Secondary.Container .Inner .Divider::after {
  left: 20px;
  transform: translateX(10px);
}

.Body .Secondary.Container .Inner .Divider::before {
  right: 20px;
  transform: translateX(-10px);
}

.Body .Secondary.Container .Bottom .Button:disabled,
.Body .Primary.Container .Button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}
