.Body {
  padding: 15px;
  background: #f7f7fb;
  border-radius: var(--border-radius-primary);
}

.Body .Heading {
  font-size: 16px;
}

.Body .Collection {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
