.Body {
  border-radius: 6px;
  box-shadow: var(--box-shadow-primary);
  padding: 24px 32px;
  background-color: var(--color-bg-white);
  max-width: 365px;
}
.Body .Heading {
  border-bottom: 1px solid rgba(11, 19, 90, 0.13);
  padding-bottom: 20px;
}

.Body .Heading .Title {
  font-weight: 600;
  font-size: 24px;
  color: var(--color-text-primary);
}

.Body .Heading .Badge {
  background-color: #2bc47a;
  color: var(--color-text-white);
  padding: 10px;
  font-weight: 400;
  font-size: 16px;
  width: max-content;
  border-radius: var(--border-radius-primary);
  line-height: 20.8px;
  padding: 5px 10px;
}

.Body .Selection {
  margin-top: 20px;
}

.Body .Selection .RadioInput {
  font-weight: 400;
  font-size: 14px;
  border: 2px solid rgba(11, 19, 90, 0.18);
  border-radius: 6px;
  width: 100%;
  padding: 15px;
}

.Body .Selection .RadioInput.Active {
  border: 2px solid #2468e5;
  background: rgba(36, 104, 229, 0.04);
}

.Body .Selection .RadioGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Body .Details {
  margin: 20px 0;
  border-bottom: 1px solid rgba(11, 19, 90, 0.13);
  padding-bottom: 20px;
}

.Body .Details .PriceInfo {
  display: flex;
  align-items: center;
}

.Body .Details .PriceInfo .Title {
  margin-bottom: 0;
}

.Body .Details .PriceInfo .Info {
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text-content);
}

.Body .Details .Tip {
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}

.Body .Bottom .Content {
  background: rgba(146, 176, 232, 0.06);
  border: 1px solid rgba(36, 104, 229, 0.12);
  border-radius: 6px;
  padding: 16px 12px;
  margin-top: 20px;
}

.Body .Bottom .Button {
  width: 100%;
  margin-top: 20px;
}

.Body .Bottom .Content .Label {
  color: #515d73;
  font-weight: 400;
  font-size: 14px;
}

.Body .Bottom .Content .Value {
  color: #363f50;
  font-weight: 500;
  font-size: 14px;
}

.Body .Bottom .Content .Row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
  .Body {
    max-width: unset;
  }
}
