.Body .CategoryTitle {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: unset;
}

.Body .Heading {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.Body .Heading .ViewAll {
  font-weight: 400;
  font-size: 16px;
  color: #000;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.Body .Heading .ViewAll:hover {
  opacity: 0.8;
}
.Body .Heading .ViewAll:hover .ArrowLeftIcon {
  transform: translateX(10px);
}

.Body .Heading .ViewAll .ArrowLeftIcon {
  margin-left: 10px;
  transition: 0.3s ease-in-out all;
}

@media screen and (max-width: 992px) {
  .Body .Heading {
    padding-left: unset;
    padding-right: unset;
  }

  .Body .CategoryTitle {
    font-size: 24px;
  }
}
